# Basic List

In [26]:
# Basic List
age_name = ["Lisa", 20, "Mery", 30, "Mark", 60, "Shita", 10]
print(age_name)

['Lisa', 20, 'Mery', 30, 'Mark', 60, 'Shita', 10]

In [27]:
# List of List (Sub-Lists)
age_name = [
    ["Lisa", 20],
    ["Mery", 30],
    ["Mark", 60],
    ["Shita", 10],
]

print(age_name)

[['Lisa', 20], ['Mery', 30], ['Mark', 60], ['Shita', 10]]

In [28]:
# List from variable
kitchen = 18.0
livingroom = 20.0
bedroom = 10.75
bathroom = 9.50

room = [kitchen, livingroom, bedroom, bathroom]
print(room)

room_2 = ["dapur", kitchen, "ruangan tamu", livingroom, "kamar tidur", bedroom, "kamar mandi", bathroom]
print(room_2)

[18.0, 20.0, 10.75, 9.5]
['dapur', 18.0, 'ruangan tamu', 20.0, 'kamar tidur', 10.75, 'kamar mandi', 9.5]

# Basic Subsetting List

In [29]:
age_name = ["Lisa", 20, "Mery", 30, "Mark", 60, "Shita", 10]
age_name[0]

'Lisa'

In [30]:
age_name[4]

'Mark'

In [31]:
# Subsetting Last Index
age_name[-1]

10

In [32]:
# Subsetting 2nd order from last index
age_name[-2]

'Shita'

# Slicing List

In [33]:
age_name = ["Lisa", 20, "Mery", 30, "Mark", 60, "Shita", 10]
age_name[4:6]

['Mark', 60]

In [34]:
age_name[0:5]

['Lisa', 20, 'Mery', 30, 'Mark']

In [35]:
age_name[1:]

[20, 'Mery', 30, 'Mark', 60, 'Shita', 10]

In [36]:
age_name[:5]

['Lisa', 20, 'Mery', 30, 'Mark']

# Subset and Calculating List

In [37]:
room_area = ['dapur', 18.0, 'ruangan tamu', 20.0, 'kamar tidur', 10.75, 'kamar mandi', 9.5]
service_area = room_area[1] + room_2[3]
print(service_area)

38.0

# Changing List Elements

In [38]:
student_grade = ["Lisa", 9.2, "Mery", 7.7, "Mark", 8.5, "Shita", 7.5, "Jane", 6.5]
student_grade[1] = 8.2
print(student_grade)

['Lisa', 8.2, 'Mery', 7.7, 'Mark', 8.5, 'Shita', 7.5, 'Jane', 6.5]

# Changing Multiple List Elements

In [39]:
student_grade[2:4] = "Maria", 8.8
print(student_grade)

['Lisa', 8.2, 'Maria', 8.8, 'Mark', 8.5, 'Shita', 7.5, 'Jane', 6.5]

# Extending List Elements

In [40]:
total_student = student_grade + ["Jack", 7.0]
print(total_student)

['Lisa', 8.2, 'Maria', 8.8, 'Mark', 8.5, 'Shita', 7.5, 'Jane', 6.5, 'Jack', 7.0]

# Removing List Elements

In [41]:
del(student_grade[4:6])
print(student_grade)

['Lisa', 8.2, 'Maria', 8.8, 'Shita', 7.5, 'Jane', 6.5]

# NumPy Array

In [44]:
import numpy as np

height = np.array([1.55, 1.60, 1.70, 1.65, 1.70, 1.68])
weight = np.array([40, 50, 55, 56, 60, 49])

BMI = weight / height ** 2

print(BMI)

[16.64932362 19.53125    19.03114187 20.56932966 20.76124567 17.36111111]

In [45]:
# NumPy Array Limitation
np.array(["saya", 100, True])

array(['saya', '100', 'True'], dtype='<U11')

In [46]:
np.array([True, 100, 20])

array([  1, 100,  20])

In [50]:
# Calculating NumPy Array
kids_snack = np.array([5000, 10000, 3000, 2000, 3500])
food_shopping = np.array([10000, 20000, 10000, 80000, 90000])

daily_expense = kids_snack + food_shopping
print(expense)

[15000 30000 13000 82000 93500]

In [51]:
monthly_expense = daily_expense * 30
print(monthly_expense)

[ 450000  900000  390000 2460000 2805000]

In [52]:
weekly_expense = monthly_expense / 4
print(weekly_expense)

[112500. 225000.  97500. 615000. 701250.]

In [53]:
# Subsetting NumPy Array with [] Square Bracket
height = np.array([1.55, 1.60, 1.70, 1.65, 1.70, 1.68])
height[1:3]

array([1.6, 1.7])

In [55]:
# Subsetting with Comparison Operators Boolean
weight = np.array([40, 50, 55, 100, 98, 150])

obesity = weight > 60
print(obesity)

[False False False  True  True  True]

# NumPy Multidimensional Array

In [56]:
# 2D NumPy Array
basketball_team = [
    [180, 68.4],
    [170, 62],
    [185, 66.5],
    [188, 69.4]
]

np_basketball_team = np.array(basketball_team)
np_basketball_team.shape

(4, 2)

In [58]:
# Subsetting 2D NumPy Array (Rows, Columns)
np_basketball_team[1, 1]

62.0

In [64]:
# artinya kita subset seluruh row dari column pertama
np_basketball_team[:, 0]

array([180., 170., 185., 188.])

In [65]:
# artinya kita subset row pertama dari seluruh column
np_basketball_team[0, :]

array([180. ,  68.4])

In [66]:
# Calculating 2D NumPy Array
height_meter = np_basketball_team[:, 0] / 100

In [70]:
np_basketball_team[:, 1] / height_meter ** 2

array([21.11111111, 21.4532872 , 19.43024105, 19.63558171])

In [71]:
# NumPy Basic Statistical Functions
np.mean(basketball_team)

123.6625

In [72]:
np.median(basketball_team)

119.7

In [73]:
np.std(basketball_team)

57.326759403877